export TW_CONSUMER_KEY=... 
export TW_CONSUMER_SECRET=...
export TW_ACCESS_TOKEN=...
export TW_ACCESS_TOKEN_SECRET=...
export ADMIN_PASSWORD=admin
export OPENSHIFT_NODEJS_IP=127.0.0.1
export OPENSHIFT_NODEJS_PORT=8080
export OPENSHIFT_TMP_DIR=/tmp/
export OPENSHIFT_REPO_DIR=/home/username/sport
export GRAB_EVENTS_URL=http://example.com/table.html
export TZ=UTC

if [ "$1" == "remote" ]; then
	rhc env set OPENSHIFT_MYSQL_TIMEZONE="+00:00" \
				TW_CONSUMER_KEY=$TW_CONSUMER_KEY \
				TW_CONSUMER_SECRET=$TW_CONSUMER_SECRET \
				TW_ACCESS_TOKEN=$TW_ACCESS_TOKEN \
				TW_ACCESS_TOKEN_SECRET=$TW_ACCESS_TOKEN_SECRET \
				MYSQL_USERNAME=admin12345 \
				MYSQL_PASSWORD=abcdefghijk \
				ADMIN_PASSWORD=admin \
				GRAB_EVENTS_URL=$GRAB_EVENTS_URL \
				TZ=$TZ \
				-a sport
fi
